<label for="menu">Click me!!</label>
<input type="checkbox" id="menu">
    <ul class="dropdown">
        <li><%= link_to "top", root_path %></li>
        <li><%= link_to "home", homes_index_path %></li>
		<li><%= link_to "history", homes_history_path %></li>
		<li><%= link_to "collection", homes_collection_path %></li>
		<li><%= link_to "location & access", homes_location_path %></li>
	</ul>