<nav>
    <ul class=nav_list>
        <li class="header_menu"><%= link_to "top", root_path %></li>
        <li class="header_menu"><%= link_to "home", homes_index_path %></li>
		<li class="header_menu"><%= link_to "history", homes_history_path %></li>
		<li class="header_menu"><%= link_to "menu", homes_menu_path %></li>
		<li class="header_menu"><%= link_to "location & access", homes_location_path %></li>
</nav>