<!DOCTYPE html>
<html>
  <head>
    <title>SoorajCurry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8416b26b5e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-nav">
        <div class="header-title">
          <h1 class="title">Sooraj Curry</h1>
        </div>
        <i class="sooraj_jpg"></i>
          <div class="header-space">
            <a href='https://instagram.com/sooraj_curry?igshid=gjnq5gih1s83' class="insta_btn">
              <span class="insta">
   　　          <i class="fa fa-instagram"></i>
              </span>
            </a>
          </div>
      </div>
    </header><!-- /header -->
    <%= yield %>
    </div><!--main-visual.html.erbのdivを閉じている。こうすることで、footerが上に行かなくなる。 -->

  </body>
</html>