<!DOCTYPE html>
<html>
  <head>
    <title>SoorajCurry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8416b26b5e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
    <header class="test-header">
        <div class="test-title">
          <h1 class="curry">Sooraj Curry</h1><img src="/assets/sooraj.JPG" alt="サイトタイトル" width="90" height="88">
        <!--<div class="insta">
          <div class="insta-space">
          <a href='https://instagram.com/sooraj_curry?igshid=gjnq5gih1s83' >
   <i class="fa fa-instagram fa-4x"></i>
          </a>
        </div> -->
        </div>
      </div>
    </header><!-- /header -->

  <body>
    <%= yield %>
    </div><!--main-visual.html.erbのdivを閉じている。こうすることで、footerが上に行かなくなる。 -->

  </body>
</html>